.test { display:none }

html, body, .off-canvas-wrap.move-right, .all_height{
	height: 100%;
}

.absolute_canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#intro{
	background-color: #fbfbfb;
}

#loading_progress{
	text-align: center;
	height: 40px;
	margin-bottom: 10px !important;
}

.centered_block{
	position: absolute;
	left: 50%;
	margin-left: -82px !important;
	top: 50%;
	margin-top: -160px !important;
}

.logo{
	height: 222px;
	width: 165px;
	background-image: url('/styles/img/logo.png');
	background-size: 165px 222px;
	margin-bottom: 20px !important;
}

.menu_logo{
	margin-right: auto !important;
	margin-left: auto !important;
	height: 180px;
	width: 134px;
	background-image: url('/styles/img/logo_inverse.png');
	background-size: 134px 180px;	
}

/* REGULAR FONTS */

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('/styles/fonts/SourceSansPro-Light-webfont.eot');
    src: url('/styles/fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('/styles/fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('/styles/fonts/SourceSansPro-Light-webfont.svg#SourceSansPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('/styles/fonts/SourceSansPro-Regular-webfont.eot');
    src: url('/styles/fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('/styles/fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('/styles/fonts/SourceSansPro-Regular-webfont.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Italic';
    src: url('/styles/fonts/SourceSansPro-Italic-webfont.eot');
    src: url('/styles/fonts/SourceSansPro-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/SourceSansPro-Italic-webfont.woff') format('woff'),
         url('/styles/fonts/SourceSansPro-Italic-webfont.ttf') format('truetype'),
         url('/styles/fonts/SourceSansPro-Italic-webfont.svg#SourceSansPro-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('/styles/fonts/SourceSansPro-Bold-webfont.eot');
    src: url('/styles/fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('/styles/fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('/styles/fonts/SourceSansPro-Bold-webfont.svg#SourceSansPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* BRAND FONT */

@font-face {
    font-family: 'GrandHotel';
    src: url('/styles/fonts/grandhotel-regular-webfont.eot');
    src: url('/styles/fonts/grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/grandhotel-regular-webfont.woff') format('woff'),
         url('/styles/fonts/grandhotel-regular-webfont.ttf') format('truetype'),
         url('/styles/fonts/grandhotel-regular-webfont.svg#Nobile-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* PICTOS */

@font-face {
  font-family: "foundation-icons";
  src: url("/styles/fonts/foundation-icons.eot");
  src: url("/styles/fonts/foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("/styles/fonts/foundation-icons.woff") format("woff"),
       url("/styles/fonts/foundation-icons.ttf") format("truetype"),
       url("/styles/fonts/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}