@import "../bower_components/bower-foundation/scss/normalize";
@import "../bower_components/bower-foundation/scss/foundation/functions";

@import "./settings";
@import "./pictos";
@import "./login.scss";
@import "./home.scss";
@import "./citation.scss";

@import "../bower_components/bower-foundation/scss/foundation/components/global";
@import "../bower_components/bower-foundation/scss/foundation/components/visibility";
@import "../bower_components/bower-foundation/scss/foundation/components/offcanvas";
@import "../bower_components/bower-foundation/scss/foundation/components/top-bar";
@import "../bower_components/bower-foundation/scss/foundation/components/buttons";
@import "../bower_components/bower-foundation/scss/foundation/components/forms";
@import "../bower_components/bower-foundation/scss/foundation/components/panels";
@import "../bower_components/bower-foundation/scss/foundation/components/sub-nav";
@import "../bower_components/bower-foundation/scss/foundation/components/thumbs";


/* LAYOUT */
body{
    min-width: 320px;
}

* > :last-child { 
	margin-bottom: 0 !important;
}

/* SPINNER */

.spinning {
    min-height: 60px;
}

.spinning-spinXtraLargeWhite {
    min-height: 100px;
}

.spinning-spinSmallWhite, .spinning-spinSmallBlack{
    min-height: 30px;
}

.spinning-spinXtraSmallWhite, .spinning-spinXtraSmallBlack{
    min-height: 10px;
}

.spinning * {
    visibility: hidden;
}

.spinning .spinner, .spinning .spinner * {
    visibility: visible !important;
}

.spinning * .spinning {
    visibility: hidden !important;
}


/* GLOBAL STYLES */
@media #{$small-only} { 
	.citation {
		margin-top : 15px;
	}
}
