$include-html-off-canvas-classes: true;
$include-html-button-classes: true;
$include-html-panel-classes: true;
$include-html-nav-classes:true;
$include-html-media-classes: true;

$body-bg: #dedede;
$bars-bg: #ffb71c;

$rem-base: 16px;

$topbar-bg: $bars-bg;
$topbar-bg-color: $bars-bg;
$tabbar-bg: $bars-bg;
$header-font-family:"GrandHotel"; 
$topbar-title-font-size:rem-calc(30);

$topbar-link-bg-hover: scale-color($topbar-bg-color, $lightness: -14%);
$tabbar-menu-icon-hover: scale-color($topbar-bg-color, $lightness: -30%);
$h5-font-size : rem-calc(25);
$off-canvas-label-bg : #333;

$menu-slide: "all 500ms ease";


.disable_float {
	float:none !important;
}