<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Starter Kit</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta http-equiv="cleartype" content="on">
    <link rel="icon" type="image/png" href="favicon.ico" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="StarterKit">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/intro.css -->
    <link rel="stylesheet" href="styles/intro.css">
    <!-- endbuild -->

    <!-- AsyncDeps2 -->

      <!-- build:css({.tmp,app}) styles/main.css -->
      <link rel="stylesheet" href="styles/main.css" data-skipsmoosher>
      <!-- endbuild -->

    <!-- end_AsyncDeps2 -->

    <style type="text/css">
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
      }
    </style>

  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
        <div id="intro" class="absolute_canvas" ng-if="!initialized">
            <noscript>Starter Kit needs Javascript</noscript>
            <div class="centered_block">
                <div class="logo"></div>
                <p id="loading_progress">Loading in progress</p>
                <div id="block_loading"></div>
            </div>
        </div>
        
        <div class=" off-canvas-wrap ng-cloak" ng-if="initialized">
            <div class="inner-wrap ">
                <div ng-include="'views/menu.html'"></div>

                <section class="main-section ">
                  <div class="content " ng-view="" spinner="changingRoute" spinner-conf="spinLargeBlack"></div>
                </section>

                
            </div>
        </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- AsyncDeps2 -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script src="bower_components/jquery/dist/jquery.min.js" data-skipsmoosher></script>
        <script src="bower_components/modernizr/modernizr.js" data-skipsmoosher></script>
        <script src="bower_components/fastclick/lib/fastclick.js" data-skipsmoosher></script>
        <script src="bower_components/bower-foundation/js/foundation/foundation.js" data-skipsmoosher></script>
        <script src="bower_components/bower-foundation/js/foundation/foundation.offcanvas.js"></script>
        <script src="bower_components/bower-foundation/js/foundation/foundation.equalizer.js"></script>

        <script src="bower_components/angular/angular.min.js" data-skipsmoosher></script>
        <script src="bower_components/angular-route/angular-route.min.js" data-skipsmoosher></script>
        <script src="bower_components/angular-animate/angular-animate.min.js" data-skipsmoosher></script>
        
        <script src="bower_components/firebase/firebase.js" data-skipsmoosher></script>
        <script src="bower_components/firebase-simple-login/firebase-simple-login-debug.js" data-skipsmoosher></script>
        <script src="bower_components/angularfire/angularfire.js" data-skipsmoosher></script>

        
        <script src="scripts/app.js" data-skipsmoosher></script>
        <script src="scripts/@@CFG" data-skipsmoosher></script>
        <script src="scripts/controllers/main.js" data-skipsmoosher></script>
        <script src="scripts/controllers/login.js" data-skipsmoosher></script>
        <script src="scripts/controllers/citationpost.js" data-skipsmoosher></script>
        <script src="scripts/controllers/menu.js" data-skipsmoosher></script>
        <script src="scripts/controllers/citations.js" data-skipsmoosher></script>
        <script src="scripts/controllers/citation.js" data-skipsmoosher></script>
        <script src="scripts/services/routechange.js" data-skipsmoosher></script>
        <script src="scripts/services/login.js" data-skipsmoosher></script>
        <script src="scripts/services/citation.js" data-skipsmoosher></script>
        <script src="scripts/directives/spinner.js" data-skipsmoosher></script>


        <script src="scripts/foundation-addons/autocloseoffcanvas.js" data-skipsmoosher></script>
        <!-- endbuild -->
    <!-- end_AsyncDeps2 -->

    <script type="text/javascript">
        window.entryScripts = [
        <!-- list_AsyncDeps2 -->
        ];
    </script>

    <!-- build:js({.tmp,app}) scripts/vendor.js -->
    <script src="bower_components/fontloader/fontloader.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/nbl/nbl.plus.min.js"></script>
    <script src="scripts/launcher.js"></script>
    <!-- endbuild -->

</body>
</html>
