</br>
<div class="row" data-equalizer>
	<div class="small-12 medium-3 columns text-center">
		<div data-equalizer-watch>
			<a class="th">
			  <img src="http://graph.facebook.com/achard.matthieu/picture?type=large" >
			</a>
		</div>
	</div>
	<div class="small-12 medium-9 columns citation" data-equalizer-watch>
		<div class="panel callout small-only-text-center all_height">
			Petit starter kit utilisant bower, angular, foundation, firebase et pres pour phonegap.<br /><br />
			Pour Bemyapp par Matthieu Achard
		</div>
	</div>
</div>