<div class="row citation-row" data-equalizer ng-controller="CitationCtrl">
	<div class="small-12 medium-3 columns text-center">
		<div data-equalizer-watch>
			<a class="th">
				<img ng-src="{{citation.fromPic}}" >
			</a>
		</div>
	</div>
	<div class="small-12 medium-9 columns citation" data-equalizer-watch>
		<div class="panel small-only-text-center all_height" ng-class="{callout : getUser().id == citation.from, 'my-citation' : citation.from}" ng-click="editIfPossible()">
			<span ng-show="!edit"> {{citation.fromName}} : {{citation.citation}} </span>
					<form ng-show="edit" name="citationForm" ng-submit="closeEdit()">
						<div class="row">
						    <div class="small-12 columns">
						      <div class="row collapse">
						        <div class="small-10 columns">
						        	
						          		<input type="text" name="citation" ng-model="citation.citation" ng-maxlength="{{maxlength}}" required placeholder="Say Something..">
						          	
						        </div>
						        <div class="small-2 columns">
						          <a ng-click="closeEdit($event);" spinner="postingCitation" spinner-conf="spinSmallWhite" class="button postfix"><span>Go</span></a>
						        </div>
						      </div>
						    </div>
						</div>
					<small ng-if="citationForm.$error.maxlength" class="error">It's {{maxlength}} caractere max</small>
				</form>
		</div>
	</div>
</div>
<div></div>
