<div id="publi-block">
	<dl class="sub-nav hide-for-large-up text-center" onclick="$(window).trigger('resize');">
	  	<dd class="disable_float" ng-class="{active:!tablogin}"><a ng-click="tablogin=false">Mine</a></dd>
	  	<dd class="disable_float" ng-class="{active:tablogin}"><a ng-click="tablogin=true">Everyone</a></dd>
	</dl>
	<div class="row" ng-controller="CitationsCtrl">
		<div class="medium-12 large-6 columns" ng-class="{'show-for-large-up':tablogin}">
			<div class="panel radius">
				<form name="citationForm" ng-controller="CitationPostCtrl" ng-submit="postCitation()">
						<div class="row">
						    <div class="small-12 columns">
						      <div class="row collapse">
						        <div class="small-10 columns">
						        	
						          		<input type="text" name="citation" ng-model="citation" ng-maxlength="{{maxlength}}" required placeholder="Say Something..">
						          	
						        </div>
						        <div class="small-2 columns">
						          <a ng-click="postCitation()" spinner="postingCitation" spinner-conf="spinSmallWhite" class="button postfix"><span>Go</span></a>
						        </div>
						      </div>
						    </div>
						</div>
					<small ng-if="citationForm.$error.maxlength" class="error">It's {{maxlength}} caractere max</small>
				</form>
			</div>
			<div spinner="allCitationsLoading">
				<div ng-repeat="citation in citations | orderByPriority | filter:{from:getUser().id} | orderBy:'-added' track by citation.$id">
					<div ng-include="'views/citation.html'"></div>
				</div>
			</div>

		</div>
		<div class="medium-12 large-6 columns" ng-class="{'show-for-large-up':!tablogin}">
			<div spinner="allCitationsLoading">
				<div ng-repeat="citation in citations | orderByPriority | orderBy:'-added' track by citation.$id">
					<div ng-include="'views/citation.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>