


<div class="text-center login-button">
	<a class="button" ng-click="login('facebook')" spinner="logging_facebook" spinner-conf="spinSmallWhite"><i class="fi-social-facebook icon-button"></i><span>Login by Facebook</span></a>
</div>
<!-- 
<div class="text-center login-button">
	<a class="button" ng-click="login('twitter')" spinner="logging_twitter" spinner-conf="spinSmallWhite"><i class="fi-social-twitter icon-button"></i><span>Login by Twitter</span></a>
</div>
-->