<div  ng-controller="MenuCtrl">
    <nav class="top-bar docs-bar hide-for-small" data-topbar="">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/#">Starter Kit</a></h1>
            </li>
        </ul>

                      
        <section class="top-bar-section">
            <ul class="right">
                <li class="divider"></li>
                <li>
                    <a href="/#/about" class="">About</a>
                </li>
                <li ng-if="getUser()" class="divider"></li>
                <li ng-if="getUser()" spinner="loggingOut" spinner-conf="spinSmallWhite">
                    <a ng-click="logout()">Logout</a>                   
                </li>
            </ul>
        </section>
        
    </nav>

    <nav class="tab-bar show-for-small">
        <a class="left-off-canvas-toggle menu-icon">
            <span></span>
        </a>
        <section class="middle tab-bar-section text-center">
            <a href="/#/"><h1 class="title">Starter Kit</h1></a>
        </section>
    </nav>

    <aside class="left-off-canvas-menu left-off-canvas-allow-open-for-small">
        <ul class="off-canvas-list">
            <li><label>Starter Kit</label></li>
            <li><a href="/#/about" class="close-left-off-canvas">About</a></li>
            <li ng-if="getUser()"><a href="/#/" ng-click="logout()" class="close-left-off-canvas">Logout</a></li>
        </ul>
    </aside>
</div>
<a class="exit-off-canvas"></a>
